@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0b0c;
    --card: #ffffff;
    --card-foreground: #0a0b0c;
    --popover: #ffffff;
    --popover-foreground: #0a0b0c;
    --primary: #1d1f21;
    --primary-foreground: #d4d6d8;
    --secondary: #f5f7fa;
    --secondary-foreground: #1d1f21;
    --muted: #f5f7fa;
    --muted-foreground: #787c7e;
    --accent: #f5f7fa;
    --accent-foreground: #1d1f21;
    --destructive: #ffcc99;
    --destructive-foreground: #d4d6d8;
    --border: #f3f4f6;
    --input: #f3f4f6;
    --ring: #0a0b0c;
    --chart-1: #ffbf77;
    --chart-2: #77aaff;
    --chart-3: #ff5577;
    --chart-4: #77ffaa;
    --chart-5: #ff77ff;
  }

  .dark {
    --background: #0a0b0c;
    --foreground: #d4d6d8;
    --card: #0a0b0c;
    --card-foreground: #d4d6d8;
    --popover: #0a0b0c;
    --popover-foreground: #d4d6d8;
    --primary: #d4d6d8;
    --primary-foreground: #1d1f21;
    --secondary: #36393f;
    --secondary-foreground: #d4d6d8;
    --muted: #36393f;
    --muted-foreground: #a3a6a9;
    --accent: #36393f;
    --accent-foreground: #d4d6d8;
    --destructive: #cc6633;
    --destructive-foreground: #d4d6d8;
    --border: #36393f;
    --input: #36393f;
    --ring: #dadee0;
    --chart-1: #ffaa77;
    --chart-2: #aa77ff;
    --chart-3: #77ffaa;
    --chart-4: #aaaaff;
    --chart-5: #ff77aa;
  }
}
