VITE_HOST_URL=http://localhost:3000
VITE_OG_DESCRIPTION=SuperIcosahedron is an indie arcade game made with Godot engine. Players navigate through a mesmerizing journey of rotating icosahedrons, aligning spots to progress to the next challenge. Its minimalist aesthetic complements the intricate gameplay, offering a unique blend of skill and strategy.
